---
import Layout from "../layouts/Layout.astro"

import { getImage } from "astro:assets"

import woodImage from "../lib/img/wood-bg.jpg"
const optimizedWoodImage = await getImage({ src: woodImage })

import { SEO } from "astro-seo";
---

<html lang="nl" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Abonnementen en tarieven Lividum Herentals - Fitness"
      description="We bieden zowel abonnementen aan als enkele sessies"
      openGraph={{
        basic: {
          title: "Abonnementen en tarieven Lividum Herentals - Fitness",
          type:"Website",
          image: "/lividum-gym.jpg",
        }
      }}
    />
  </head>
<Layout>
	<div class="bg-black py-12">
        <h1 class="text-center text-white uppercase font-semibold text-4xl">Abonnementen</h1>
    </div>
    <div style={`background-image: url('${optimizedWoodImage.src}')`} class="text-white">
        <div class="mx-auto container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 p-4">
            <div class="grid grid-cols-1 grid-flow-row gap-12 bg-black border-2 border-white py-8">
                <p class="text-3xl uppercase text-center font-semibold block"><span class="font-extrabold text-7xl block">12</span> Maanden</p>
                <p class="text-xl uppercase text-center font-semibold block"><span class="font-extrabold text-5xl block">€ 900</span> Domiciliëring <span class="block">€ 75 / maand</span></p>
            </div>
            <div class="grid grid-cols-1 grid-flow-row gap-12 bg-black border-2 border-white py-8">
                <p class="text-3xl uppercase text-center font-semibold block"><span class="font-extrabold text-7xl block">6</span> Maanden</p>
                <p class="text-xl uppercase text-center font-semibold block"><span class="font-extrabold text-5xl block">€ 510</span> Domiciliëring <span class="block">€ 85 / maand</span></p>
            </div>
            <div class="grid grid-cols-1 grid-flow-row gap-12 bg-black border-2 border-white py-8">
                <p class="text-3xl uppercase text-center font-semibold block"><span class="font-extrabold text-7xl block">3</span> Maanden</p>
                <p class="text-xl uppercase text-center font-semibold block"><span class="font-extrabold text-5xl block">€ 285</span> Domiciliëring <span class="block">€ 95 / maand</span></p>
            </div>
            <div class="grid grid-cols-1 grid-flow-row gap-12 bg-black border-2 border-white py-8">
                <p class="text-3xl uppercase text-center font-semibold block"><span class="font-extrabold text-7xl block">1</span> Maand</p>
                <p class="text-xl uppercase text-center font-semibold block"><span class="font-extrabold text-5xl block">€ 120</span> Domiciliëring</p>
            </div>
        </div>
    </div>
    <div class="text-black bg-black py-12 p-4">
        <h2 class="text-center text-white uppercase font-semibold text-4xl mb-12">Enkele sessies</h2>
        <div class="mx-auto w-4/5 md:w-2/5 grid grid-cols-1 sm:grid-cols-2 gap-8">
            <div class="grid grid-cols-1 grid-flow-row gap-12 bg-white border-2 py-8">
                <p class="text-3xl uppercase text-center font-semibold block"><span class="font-extrabold text-7xl block">1</span> Sessie</p>
                <p class="text-xl uppercase text-center font-semibold block"><span class="font-extrabold text-5xl block">€ 15</span></p>
            </div>
            <div class="grid grid-cols-1 grid-flow-row gap-12 bg-white border-2 py-8">
                <p class="text-3xl uppercase text-center font-semibold block"><span class="font-extrabold text-7xl block">10</span> Sessies</p>
                <p class="text-xl uppercase text-center font-semibold block"><span class="font-extrabold text-5xl block">€ 120</span></p>
            </div>
        </div>
    </div>
	
</Layout>