---
import Layout from "../layouts/Layout.astro"
const allPrograms = await Astro.glob('../pages/programs/*.md');
import { SEO } from "astro-seo";
---

<html lang="nl" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Programs en lessen Lividum Herentals - Fitness"
      description="Programma's voor de beginner en gevorderde atleet. Iedereen is welkom bij Lividum!"
      openGraph={{
        basic: {
          title: "Programs en lessen Lividum Herentals - Fitness",
          type:"Website",
          image: "/lividum-gym.jpg",
        }
      }}
    />
  </head>
<Layout>
	<div class="bg-black py-12">
        <h1 class="text-center text-white uppercase font-semibold text-5xl">Programs</h1>
    </div>
    <div class="max-w-screen-xl mx-auto bg-black text-white mb-10">
        <ul>        
            {allPrograms.map((program) => <li><a href={program.url}>{program.frontmatter.title}</a></li>)}
        </ul>


    </div>
	
</Layout>