---
import Layout from "../layouts/Layout.astro"

import { SEO } from "astro-seo";
---

<html lang="nl" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Uurrooster Lividum Herentals - Fitness"
      description="Bekijk het uurrooster van al onze programma's bij Lividum Fitness Herentals"
      openGraph={{
        basic: {
          title: "Uurrooster Lividum Herentals - Fitness",
          type:"Website",
          image: "/lividum-gym.jpg",
        }
      }}
    />
  </head>
<Layout>
	<div class="bg-black py-12">
        <h1 class="text-center text-white uppercase font-semibold text-5xl">Uurrooster</h1>
  </div>
  <div class="max-w-screen-xl mx-auto bg-black text-white mb-10">
        
       <div class="grid grid-cols-7 border border-gray-700 divide-x divide-gray-700 text-center">
        <!-- maandag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col text-center gap-2">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Maandag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>10:00 - 11:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>12:00 - 12:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>17:30 - 18:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-yellow-700">
            <div class="font-bold">Basic</div>
            <div>18:30 - 19:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>19:30 - 20:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-lime-700">
            <div class="font-bold">Stronger</div>
            <div>20:00 - 21:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>20:30 - 21:30</div>
          </div>

        </div>
        <!-- dinsdag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col gap-2 items-start text-center">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Dinsdag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>10:00 - 11:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>17:30 - 18:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>18:30 - 19:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>19:30 - 20:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-emerald-700">
            <div class="font-bold">Olympic Weightlifting</div>
            <div>20:30 - 21:30</div>
          </div>

        </div>
        <!-- woensdag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col gap-2 items-start text-center">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Woensdag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>10:00 - 11:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>12:00 - 12:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-violet-700">
            <div class="font-bold">Kids (3-8j)</div>
            <div>13:30 - 14:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>14:30 - 15:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-fuchsia-700">
            <div class="font-bold">Teens (9-15j)</div>
            <div>15:30 - 16:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>17:30 - 18:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-yellow-700">
            <div class="font-bold">Basic</div>
            <div>18:30 - 19:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>19:30 - 20:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-lime-700">
            <div class="font-bold">Stronger</div>
            <div>20:00 - 21:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>20:30 - 21:30</div>
          </div>

        </div>
        <!-- donderdag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col gap-2 items-start text-center">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Donderdag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>10:00 - 11:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>17:30 - 18:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>19:30 - 20:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>19:30 - 20:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-fuchsia-700">
            <div class="font-bold">Teens (9-15j)</div>
            <div>19:30 - 20:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-emerald-700">
            <div class="font-bold">Olympic Weightlifting</div>
            <div>20:30 - 21:30</div>
          </div>

        </div>
        <!-- vrijdag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col gap-2 items-start text-center">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Vrijdag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>10:00 - 11:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-orange-700">
            <div class="font-bold">Hiit</div>
            <div>12:00 - 12:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-fuchsia-700">
            <div class="font-bold">Teens (9-15j)</div>
            <div>17:30 - 18:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-rose-700">
            <div class="font-bold">Calisthenics</div>
            <div>18:00 - 19:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-blue-700">
            <div class="font-bold">Workout</div>
            <div>19:30 - 20:30</div>
          </div>

        </div>
        <!-- zaterdag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col gap-2 items-start text-center">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Zaterdag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-amber-700">
            <div class="font-bold">Yoga</div>
            <div>08:30 - 09:30</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-yellow-700">
            <div class="font-bold">Basic</div>
            <div>10:00 - 11:00</div>
          </div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-slate-700">
            <div class="font-bold">Bootcamp</div>
            <div>11:00 - 12:00</div>
          </div>

        </div>
        <!-- zondag -->
        <div class="col-span-7 md:col-span-1 p-2 flex flex-col gap-2 items-start text-center">
          <div class="uppercase text-lg font-semibold italic block mb-4 w-full">Zondag</div>

          <div class="workout-wrapper bg-slate-200 h-20 grid content-center w-full text-black border-b-2 border-slate-700">
            <div class="font-bold">Bootcamp</div>
            <div>10:00 - 11:00</div>
          </div>

        </div>

       </div>

    </div>
	
</Layout>